[Desktop Entry]
Type=Application
Exec=gnome-pomodoro
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=gnome-pomodoro
Name=pomodoro
Comment[en_US]=
Comment=gnome-pomodoro
