[Desktop Entry]
Type=Application
Exec=pulseaudio --start
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=pulseaudio --start
Name=pulseaudio --start
Comment[en_US]=
Comment=pulseaudio --start
